.container{
	display: inline-block;
	vertical-align: middle;
	width: 20vh;
	height: auto;
}
.title{
	justify-content: center;
}
.bienvenida{
	vertical-align: center;
}
.main-image{
	justify-content: center;
}