<!-- Base -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}  TuMusica</title>
    {% load static %}

    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/player.css' %}">
    {% endblock head %}
    
    {% block css %}
        
    {% endblock css %}
</head>
<body>
    <header>
        <a href="{% url 'music:Index' %}">Index |</a>
        {% if user.is_authenticated %}
        <p>Welcome, {{ user.first_name }}.</p>
        <a href="{% url 'users:logout' %}">Logout | </a>
        <a href="{% url 'music:add_artist' %}">Agregar artista | </a>
        {% else %}
        <a href="{% url 'users:login' %}">Login | </a>  <a href="{% url 'users:sign_up'%}">Sign Up</a>
        {% endif %}

    </header>
    {% block body_content %}
    {% endblock body_content %}
<br>
<br>
<br>
<br>


{% include 'music/player.html' %}

{% block js %}
{% endblock js %}
</body>
</html>