<!-- Base -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}  TuMusica</title>
    {% load static %}

    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/player.css' %}">
    {% endblock head %}
    
    {% block css %}
        
    {% endblock css %}
</head>
<body>
{% block body_content %}

{% endblock body_content %}

<br>

{% include 'music/player.html' %}

{% block js %}
{% endblock js %}
</body>
</html>