<!-- Base -->
{% load static %}

<!DOCTYPE html5>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | TuMusica</title>
    {% load static %}
    {% block head %}
    {% endblock head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block css %}
    {% endblock css %}
</head>
<body>
<div class="container">
	<div class="title">
		<h1>Bienvenido usuario</h1>
	</div>
	<div class="bienvenida">
		<p >
			Aquí podrás el reproductor con las canciones top del momento.
		</p>
	</div>
	<div class="main-image" >
		<img  src="{% static 'img/icons/main-icon.png'%}">
	</div>			
</div>

<br>
<br>
<br>

<br>

<br>




{% block body_content %}
{% include 'music/player.html' %}

{% endblock body_content %}

</body>

</html>
