{% extends 'music/base.html' %}
{% load static %}

		
    
    	
	    		{% block title %}
				canciones más escuchadas 
				{% endblock title %}

		

		{% block css %}
    		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    	{% endblock css %}

	{% block body_content %}
		<h1>Estas son las canciones populares:</h1>
	    
	    <ul>
	        {% for song in songs  %}
	        <li>{{song}}</li>
	        {% endfor %}
	    </ul>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	{% endblock body_content %}